html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

section {
  padding-top: 100px;
}

section h1 {
  padding-bottom: 20px;
}

section div {
  padding-bottom: 40px;
}

section h2 {
  padding-bottom: 20px;
  font-family: RR;
  font-weight: bold;
}

header {
  position: relative;
  background-color: black;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .container h1 {
  padding-top: 25px;
  font-size: 150px;
  font-family: SWF;
  text-decoration: none;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
                    cornflowerblue,
                    #44107A,
                    #FF1361,
                    orange);
}

.space {
  letter-spacing: 10px;
}

header .container p {
  font-family: R;
  font-size: 30px;
}
.p1 {
  color: white;
}

.p2 {
  color: white;
}

.p3 {
  color: white;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.navbar {
  font-size: 20px;
  font-family: R;
  background-color: #2c3e50;
}

#title::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}

.nav-item {
  position: relative;
}

.brand {
  position: relative;
}

.navbar-toggler {
  position: relative;
}

.nav-item:hover {
  font-weight: bolder;
}

div a button {
  color: white;
  font-family: RR;
  background-color: #44107A;
  border-width: 0;
  border-radius: 25px;
  text-decoration: none;
  width: 120px;
  height: 50px;
}

div a button:hover {
  transform: scale(1.25, 1.25);
  transition-duration: 3s;
  background-image: linear-gradient(45deg,
                    #44107A,
                    #FF1361);
}

.button {
  padding-top: 250px;
  padding-right: 20px;
}

.button2 {
  padding-top: 0px;
  padding-right: 0px;
}


.container h1 {
  color: #44107A;
  text-align: center;
  font-size: 50px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.high {
  background-color: rgba(255, 255, 255, 0.87) ;
  padding: 10px;
  border-radius: 20px;
}

.high i {
  color: black;
}

.high div h5 {
  color: black;
}

.high:hover {
  background-color: #09f;
  transform: scale(1.05, 1.05);
  transition-duration: .5s;
}

.high:hover i {
  color: white;
}

.high:hover div h5 {
  color: white;
}

.skill {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 20px;
}

.skill:hover {
  background-color: #09f;
  transform: scale(1.05, 1.05);
  transition-duration: .5s;
}

.skill:hover div h4 {
  color: white;
}

.skill:hover div h5 {
  color: white;
}

.skill:hover div p {
  color: white;
}

.skill:hover div ul li {
  color: white;
}

.centerImage {
  float: right;
  padding-right: 10px;
}

#education div h1 {
  font-family: RB;
}

#contact-form {
  text-align: center;
}

#contact-form textarea{
  height: 200px;
}

.contact-form {
  text-align: center;
}

.contact-title h2 {
  font-family: RR;
  font-size: 80px;
  line-height: 20px;
}

.contact-title h3 {
  font-family: RR;
  font-size: 60px;
}

form {
  margin-top: 50px;
}

.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: RR;
}

input {
  height: 45px;
}

textarea {
  height: 200px;
}

form .submit {
  background: #64b3f4;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  height: 50px;
  font-family: RR;
}

form .submit:hover {
  background: orange;
  cursor: pointer;
}

.cssi {
  padding-bottom: 10px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gotgame {
  padding-bottom: 20px;
  width: 350px;
}

.acm {
  padding-bottom: 20px;
  width: 200px;
}

.modalOne {
  width: 600px;
}

.modalTwo {
  width: 550px;
}

.modalThree {
  width: 1000px;
}

.left {
    color: black;
    font-size: 50px;
    padding-left:130px;
}

.right {
    color: black;
    font-size: 50px;
    padding-right:130px;
}

.rightImage {
  width: 200px;
  float: right;
  padding-right: 10px;
  padding-top: -30px;
}

.leftImage {
  width: 200px;
  float: left;
  padding-top: 35px;
  padding-left: 10px
}

.rightImage1 {
  width: 250px;
  float: right;
  padding-right: 10px;
  padding-top: 25px;
}

.leftImage1 {
  width: 300px;
  float: left;
  padding-top: 35px;
  padding-left: 10px
}

.textLeft {
  text-align: left;
  padding-right: 30%;
}

.textRight {
  text-align: right;
  padding-left: 30%;
}

#footer a img:hover{
	transform: scale(1.3, 1.3);
}

@font-face {
  font-family: RB;
  src: url(Fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: RR;
  src: url(Fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: SWF;
  src: url(Fonts/SilliiWillinnFont.ttf);
}

@font-face {
  font-family: R;
  src: url(Fonts/RalewayThin.ttf);
}

@font-face {
  font-family: BS;
  src: url(Fonts/BlackSingature.ttf);
}

@font-face {
  font-family: MAD;
  src: url(Fonts/MyAutumnDemo.ttf);
}

@media (max-width: 600px) {
  header {
    height: 88vh;
  }
}

@media (max-width: 576px) {
  .navbar {
    font-size: 20px;
  }

  .centerImage {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }

  .rightImage {
    width: 200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: -30px;
    padding-bottom: 50px;
  }

  .leftImage {
    width: 200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 50px;
  }

  .rightImage1 {
    width: 250px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .leftImage1 {
    width: 300px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 50px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .button {
    padding-top: 170px;
    padding-right: 20px;
  }

  .cssi {
    padding-bottom: 10px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .gotgame {
    padding-bottom: 20px;
    width: 250px;
  }

  .modalOne {
    width: 250px;
  }

  .modalTwo {
    width: 250px;
  }

  .modalThree {
    width: 270px;
  }

  .left {
    padding-left: 50px;
  }

  .right {
    padding-right: 50px;
  }

  .textLeft {
    text-align: left;
    padding-right: 0%;
  }

  .textRight {
    text-align: right;
    padding-left: 0%;
  }
}

@media (min-width: 576px) and (max-width: 984px) {
  .navbar {
    font-size: 15px;
  }

  .centerImage {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }

  .gotgame {
    padding-bottom: 20px;
    width: 200px;
  }

  .acm {
    width: 120px;
  }

  .button {
    padding-top: 75px;
    padding-right: 20px;
  }

  .modalOne {
    width: 400px;
  }

  .modalTwo {
    width: 400px;
  }

  .modalThree {
    width: 450px;
  }

  .left {
    padding-left: 85px;
  }

  .right {
    padding-right: 85px;
  }

  .rightImage {
    width: 200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: -30px;
    padding-bottom: 50px;
  }

  .leftImage {
    width: 200px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 50px;
  }

  .rightImage1 {
    width: 250px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .leftImage1 {
    width: 300px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 50px;
  }

  .textLeft {
    text-align: left;
    padding-right: 0%;
  }

  .textRight {
    text-align: right;
    padding-left: 0%;
  }
}

@media (min-width: 459px) and (max-width: 579px) {
  .button {
    padding-top: 100px;
    padding-right: 20px;
  }
}

@media (min-width: 983px) and (max-width: 1000px) {
  .button {
    padding-top: 200px;
    padding-right: 20px;
  }

  .modalOne {
    width: 500px;
  }

  .modalTwo {
    width: 500px;
  }

  .modalThree {
    width: 700px;
  }

  .left {
    padding-left: 85px;
  }

  .right {
    padding-right: 85px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .button {
    padding-top: 200px;
    padding-right: 20px;
  }

  .modalOne {
    width: 500px;
  }

  .modalTwo {
    width: 500px;
  }

  .modalThree {
    width: 700px;
  }

  .left {
    padding-left: 85px;
  }

  .right {
    padding-right: 85px;
  }
}

@media screen and (max-width: 460px) {
  header .container h1 {
      font-size: 75px;
  }

  header .container p {
    font-size: 15px;
  }
}

@media (min-width: 460px) and (max-width: 767px) {
  header .container h1 {
      font-size: 125px;
  }

  header .container p {
    font-size: 20px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  header .container h1 {
      font-size: 140px;
  }

  header .container p {
    font-size: 25px;
  }

  .navbar {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header .container h1 {
      font-size: 140px;
  }

  header .container p {
    font-size: 30px;
  }

  .navbar {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  header .container h1 {
      font-size: 150px;
  }

  header .container p {
    font-size: 30px;
  }

  .navbar {
    font-size: 25px;
  }

  .button {
    padding-top: 200px;
    padding-right: 20px;
  }
}
